.Content{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    display: "flex",
}
.Header{
    color: #319DA0;
    font-size: 25px;
    font-weight: bold;
}
.Description{
    font-weight: bold;
}
.Box{
    margin-top: 2rem;
    border: 1px solid #dfd7d7;
    border-radius:3px ;
    width: 79.5rem;
    height: 5rem;
    margin: 1rem 7rem 1rem 7rem,
}