.Content{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    display: "flex",
}
.Header{
    color: #319DA0;
    font-size: 25px;
    font-weight: bold;
}
.Description{
    font-weight: bold;
}